body {
    font-family: "Noto Sans Japanese"; /*フォントにNotoSansJapaneseを指定*/
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #000000;
}

.flex {
    display: flex; /* 要素をflexboxに対応させる */
    align-items: center; /* 縦方向の中央揃え */
    justify-content: space-around; /* 横方向の中央揃え */
    flex-direction: column; /* 子要素の並びを上から下にする（要素の改行に対応） */
}

#foundation {
    background: center/cover url('./bg.jpg');
    background-position: 50% 0;
    width: 100vw;
    height: 1000vh;
}

.box {
  width: inherit;
  height: inherit;
}

.element {
  /*transition: 0.1s;*/
  z-index: 1;
  position: relative;
  width: 60vw;
  height: 30vh;
  background: #ffffff;
  border: 0.5vh solid #00000011;
  border-radius: 2.5vh;
}
.element p {
  position: relative;
  font-size: 10vh;
  color: #122577;
}

.element:nth-child(odd) {
  z-index: 0;
  background: #122577;
  border: 0.5vh solid #ffffff11;
}
.element:nth-child(odd) p{
  color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (orientation:portrait){ /*デバイスの画面が縦長の時に適用される*/

}
